main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
#cajaListaPistas{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 300px;
}
#iconoVolverLisPistas{
    cursor: pointer;
    color: orange;
    font-size: 27px;
}
#busqueda{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#busqueda h1{
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Laila', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
#parte1{
    width:60%; 
    font-size: 17px;
}
#parte2{
    width:20%; 
}
table,th,td{
    border: 2px solid rgb(0, 212, 240);
    border-collapse: collapse;
}
table{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.borrar{
    cursor: pointer;
}
.editar{
    cursor: pointer;
    margin-right: 30%;
}
.fondoAzulTabla{
    background-color: rgb(200, 255, 255);
    font-weight: bold;
}
@media only screen and ( max-width: 873px){
    #cajaListaPistas{
        width: 90%;
    }
}
@media only screen and ( max-width: 770px){
    #parte1{
        width:70%; 
        font-size: 15px;
    }
}
@media only screen and ( max-width: 677px){
    #cajaListaPistas{
        width: 98%;
    }
}
@media only screen and ( max-width: 537px){
    #parte1{
        width:100%; 
    }
    #parte2{
        width:100%; 
    }
}